{% extends 'base.html' %}

{% block titulo %}
Produtos
{% endblock %}

{% block conteudo %}

<body class="text-center">
  <div class="container">
    <div class="yellowbox">
      <div>
        <h2 style="color: white; font-size:3rem; margin-top: 1.2em;">Imperdível!!</h2>
        <p style="color: white; font-size:3rem;">Confira nossas <br>ofertas!</p>
      </div>
      <div class="imagem">
        <a><img src="{{ url_for('static', filename='img/imagem1.png') }}" width="300" class="imagem"></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for item in itens %}
          <div class="col">
            <div class="card h-100">
              <div class="card-body" style="text-align: left;">
                <h5 class="card-title">{{ item.nome }}</h5>
                <p class="card-text"><strong>Preço:</strong> R$ {{ item.preco }}</p>
                {% if item.imagem %}
                  <img src="{{ url_for('static', filename='img/produtos/' + item.imagem) }}" class="card-img-top" alt="{{ item.nome }}" style="max-height: 200px; object-fit: contain;">
                {% else %}
                  <p>Sem imagem disponível</p>
                {% endif %}
              </div>
              <div class="card-footer" style="text-align: left;">
                <!-- Botão para abrir o modal com mais informações -->
                <a href="{{ url_for('page_produto_detalhes', produto_id=item.Id) }}" class="comprar">Mais Informações</a>           
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

    body {
      font-family: "Poppins", sans-serif;
      background-color: #ffff;
      color: white;
    }

    .yellowbox {
      background-color: #2BA536;
      border-radius: 30px;
      padding: 2em;
      color: #ffff;
      text-decoration: none;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 6em;
    }

    .comprar {
      background-color: #2BA536;
      border-radius: 100px;
      border: #ffff solid 2px;
      padding: 0.5em 2em;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
    }

    .sair {
      background-color: red;
      border-radius: 100px;
      border: #ffff solid 2px;
      padding: 0.5em 2em;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
    }

    .card-footer {
      display: flex;
      justify-content: center;
    }

    .status-container {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }

    .loading-spinner {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
      margin-right: 10px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .ok-icon {
      font-size: 20px;
      color: green;
      display: none;
    }

    .error-icon {
      font-size: 20px;
      color: red;
      display: none;
    }
  </style>
  {% endblock %}
